h1{
    color: rgb(12, 133, 119);
    text-align: center;

}

.p{
  font-family: cursive;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 2px solid #020101;
    text-align: center;
    padding: 20px;
  }
  
  button{
    background-color: rgb(211, 211, 243);
    cursor: pointer;
  }
 
  #demo1,#jj{
    margin-left:675px ;
  }
  #demo2,#kk{margin: 4px;
    margin-left:1050px ;
  }
  #f1{
    height: 100px;
    width: 100px;
  }
  .img{
    height: 20px;
    width: 20px;
  }

  #win{
    color: rgb(40, 46, 227);
  
  }

  #winner{
    text-align: center;
    border: 2px;
    border-color: blanchedalmond;
  }